<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="ir.Balient" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:maxSdkVersion="29" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <queries>
        <package android:name="com.google.android.apps.maps"/>
        <intent>
            <action android:name="androidx.camera.extensions.action.VENDOR_ACTION"/>
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService"/>
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:mimeType="*/*"/>
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:mimeType="*/*"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MICROPHONE"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.audio.pro" android:required="false"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <permission android:name="ir.Balient.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="ir.Balient.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="true" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="Balient" android:largeHeap="true" android:name="ir.nasim.app.ApplicationBale" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/MainActivityTheme" android:usesCleartextTraffic="true">
        <activity android:configChanges="orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTask" android:name="ir.nasim.auth.auth.IntroActivity" android:screenOrientation="portrait" android:theme="@style/NoBarActivityTheme.Auth" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTop" android:name="ir.nasim.videoplayer.NewVideoPlayerActivity" android:theme="@style/NewVideoPlayerTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="ir.nasim.live.LiveActivity" android:supportsPictureInPicture="true" android:taskAffinity=".live" android:theme="@style/LiveTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:name="ir.nasim.features.firebase.newPush.handler.TrampolineActivity" android:process=":another_account_notif"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="ir.nasim.features.exportlogs.ExportLogsActivity" android:noHistory="true" android:process=":export_logs" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <profileable android:shell="true"/>
        <activity android:exported="false" android:name="ir.nasim.features.bank.mybank.webview.shaparak.ShaparakWebViewActivity"/>
        <provider android:authorities="ir.Balient.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="ir.nasim.core.modules.file.audio.audiofocus.AudioFocusManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.compose.runtime.tracing.ComposeTracingInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.tracing.perfetto.StartupTracingInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <meta-data android:name="firebase_performance_logcat_enabled" android:value="false"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/ic_launcher"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/exo_white"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="ir.nasim.features.call.ui.CallActivity" android:showOnLockScreen="true" android:supportsPictureInPicture="true" android:taskAffinity=".calling" android:theme="@style/NoAppBarActivityTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:name="ir.nasim.features.forceupdate.ForceUpdateActivity" android:screenOrientation="portrait" android:theme="@style/NoBarActivityTheme"/>
        <activity android:exported="true" android:label="@string/all_app_name" android:launchMode="singleTask" android:name="ir.nasim.features.MainActivity" android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.ir.Balient.profile"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.ir.Balient.call"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.ir.Balient.video"/>
            </intent-filter>
            <intent-filter>
                <action android:name="bale.ai.payment"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="bale.ai" android:pathPrefix="/join/"/>
                <data android:host="bale.ai" android:pathPrefix="/#/join/"/>
                <data android:host="bale.ai" android:pathPrefix="/c/"/>
                <data android:host="bale.ai" android:pathPrefix="/#/c/"/>
                <data android:host="bale.ai" android:pathPrefix="/w/"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="ble.ir"/>
                <data android:host="meet.bale.ai"/>
                <data android:host="call.bale.ai"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="ble"/>
                <data android:host="bale.ai" android:pathPrefix="/club/"/>
                <data android:host="bale.ai" android:pathPrefix="/club/referral"/>
                <data android:host="bale.ai" android:pathPrefix="/club/carousel"/>
                <data android:host="bale.ai" android:pathPrefix="/club/p1"/>
                <data android:host="bale.ai" android:pathPrefix="/mybank/wallet"/>
                <data android:host="bale.ai" android:pathPrefix="/mybank/P2Ppayment"/>
                <data android:host="bale.ai" android:pathPrefix="/mybank/p1"/>
                <data android:host="bale.ai" android:pathPrefix="/cashout/"/>
                <data android:host="bale.ai" android:pathPrefix="/upgrade/"/>
                <data android:host="bale.ai" android:pathPrefix="/transactions/"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="rapsa"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="bale.ai" android:path="/w/verify"/>
                <data android:host="ble.ir" android:path="/#$/fast-charge/after-login"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="bale"/>
                <data android:scheme="ble"/>
                <data android:scheme="uniqr"/>
                <data android:scheme="nasim"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:host="bale.ai"/>
                <data android:pathPattern="/school"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="bale.ai"/>
                <data android:pathPattern="/school"/>
            </intent-filter>
            <meta-data android:name="android.service.chooser.chooser_target_service" android:value="androidx.sharetarget.ChooserTargetServiceCompat"/>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyClWDXAql61Wqx2y5jz_j6rraU8IXc5RuE"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:process=":fcm_process"/>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="dataSync" android:name="ir.nasim.core.modules.file.upload.UploadService" android:stopWithTask="false"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" android:process=":fcm_process"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":fcm_process"/>
        <service android:exported="false" android:name="ir.nasim.features.firebase.BaleFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="io.fabric.ApiKey" android:value="df0353ddd9f05593534789e8dd203dd0a6f90f02"/>
        <provider android:authorities="ir.Balient.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.developermode.DeveloperModeActivity" android:theme="@style/NoAppBarActivityTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"/>
        <activity android:exported="false" android:name="ir.nasim.util.preview.DesignSystemPreviewsActivity"/>
        <activity android:exported="false" android:name="ir.nasim.designsystem.base.activity.PasscodeRequiredActivity" android:theme="@style/Theme.Bale.Base"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="ir.nasim.features.root.RootActivity" android:theme="@style/MainActivityTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.group.members.AddMemberActivity" android:theme="@style/NoAppBarActivityTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.group.invite.InviteLinkActivity" android:theme="@style/NoAppBarActivityTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="ir.nasim.features.payment.view.activity.CardPaymentActivity" android:theme="@style/MainActivityTheme" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="blefinancial"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="ir.nasim.features.payment.view.activity.CrowdfundingActivity" android:theme="@style/CardPaymentActivityTheme" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.features.payment.view.activity.WebViewPaymentActivity" android:theme="@style/TransparentStatusBarTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.designsystem.base.activity.BaseActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.features.contacts.BaleContactPickerActivity" android:theme="@style/MainActivityTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.features.profile.avatar.NewViewAvatarActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.features.settings.EditNameActivity" android:theme="@style/NoAppBarActivityTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="false" android:name="ir.nasim.features.conversation.sharedmedia.old.SharedMediaActivity" android:theme="@style/NoAppBarActivityTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden" android:exported="false" android:name="ir.nasim.features.scanner.SimpleScannerActivity" android:theme="@style/MainActivityTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTop" android:name="ir.nasim.designsystem.photoviewer.PhotoViewerActivity" android:theme="@style/Theme.PhotoViewer" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="orientation|screenSize" android:name="ir.nasim.features.map.ui.MapActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTop" android:name="ir.nasim.features.pfm.PFMActivity" android:screenOrientation="portrait" android:theme="@style/MainActivityTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <receiver android:enabled="true" android:name="ir.nasim.designsystem.ChromeCustomTabReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="ir.nasim.features.firebase.newPush.receiver.CopyActionReceiver">
            <intent-filter>
                <action android:name="ACTION_COPY"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="ir.nasim.features.firebase.newPush.receiver.ReplyActionReceiver">
            <intent-filter>
                <action android:name="ir.Balient.intent.receiver.REPLY"/>
                <category android:name="ir.Balient"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="ir.nasim.features.firebase.newPush.receiver.ReadActionReceiver">
            <intent-filter>
                <action android:name="ir.Balient.intent.receiver.MARK_AS_READ"/>
                <category android:name="ir.Balient"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="ir.nasim.features.firebase.newPush.receiver.PfmSetTagActionReceiver">
            <intent-filter>
                <category android:name="ir.Balient"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="ir.nasim.auth.smsretriever.SMSRetrieverBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="true" android:name="ir.nasim.features.audioplayer.service.MusicService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="mediaPlayback|mediaProjection|camera|microphone" android:name="ir.nasim.features.call.service.CallService"/>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="mediaPlayback" android:name="ir.nasim.features.call.service.VibrationService"/>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="mediaPlayback|mediaProjection|camera|microphone" android:name="ir.nasim.features.call.service.VideoCallService"/>
        <receiver android:exported="false" android:name="ir.nasim.features.call.service.CallActionsReceiver"/>
        <service android:enabled="true" android:exported="true" android:name="ir.nasim.features.contacts.AccountAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <service android:enabled="true" android:exported="true" android:name="ir.nasim.features.contacts.ContactsSyncAdapterService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_contacts"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts"/>
        </service>
        <meta-data android:name="io.sentry.auto-init" android:value="false"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|colorMode|fontScale" android:label="ShowkaseBrowserActivity" android:name="com.airbnb.android.showkase.ui.ShowkaseBrowserActivity" android:theme="@style/Theme.App.NoActionBar"/>
        <uses-library android:name="androidx.camera.extensions.impl" android:required="false"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.camera.core.impl.MetadataHolderService">
            <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.ktx.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="io.appmetrica.analytics.internal.AppMetricaService" android:process=":AppMetrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="io.appmetrica.analytics.IAppMetricaService"/>
                <data android:scheme="appmetrica"/>
            </intent-filter>
        </service>
        <provider android:authorities="ir.Balient.appmetrica.preloadinfo.retail" android:enabled="true" android:exported="true" android:name="io.appmetrica.analytics.internal.PreloadInfoContentProvider" android:process=":AppMetrica"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="ir.Balient.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:enabled="true" android:foregroundServiceType="mediaProjection" android:name="io.livekit.android.room.track.screencapture.ScreenCaptureService" android:stopWithTask="true"/>
        <activity android:exported="true" android:name="androidx.compose.ui.tooling.PreviewActivity"/>
        <provider android:authorities="ir.Balient.SentryInitProvider" android:exported="false" android:name="io.sentry.android.core.SentryInitProvider"/>
        <provider android:authorities="ir.Balient.SentryPerformanceProvider" android:exported="false" android:initOrder="200" android:name="io.sentry.android.core.SentryPerformanceProvider"/>
        <service android:exported="true" android:name="androidx.sharetarget.ChooserTargetServiceCompat" android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService"/>
            </intent-filter>
        </service>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.tracing.perfetto.TracingReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.tracing.perfetto.action.ENABLE_TRACING"/>
                <action android:name="androidx.tracing.perfetto.action.ENABLE_TRACING_COLD_START"/>
                <action android:name="androidx.tracing.perfetto.action.DISABLE_TRACING_COLD_START"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.tracing.perfetto.StartupTracingConfigStoreIsEnabledGate"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="ir.Balient.jlatexmathinitprovider" android:exported="false" android:name="ru.noties.jlatexmath.JLatexMathInitProvider"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
    </application>
</manifest>
